<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">  
  </head>
  <body id="page-top">
    <% if Helpers.is_logged_in?(session) %>
      <h1> Welcome <%= Helpers.current_user(session).username %> </h1>
      </br>
      <h2> <%= Helpers.current_user(session).balance.to_f %> </h2>
      </br>
    <% else %>
      <h5>You Must <a href="/">Log In</a> to View Your Balance</h5>
    <% end %>
    
    
  </body>
</html>